@import "/styles/_header";

.header {
  display: block;
  padding: 15px 30px 15px 30px;
  background-color: #fff;
  font: 400 16px/1.3 acumin-pro, "Noto Sans", "Source Sans Pro", Verdana, sans-serif;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 26px;
  padding: 0;
}

.left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
  height: 26px;
  margin: 0;
  padding: 0;

  & .logo {
    margin: auto;
    padding-bottom: 4px;

    svg {
      display: block;
    }
  }

  & .mega {
    margin: auto;
    padding: 0;

    svg {
      cursor: pointer;
      display: block;
    }
  }

  & .topnav {
    display: flex;
    list-style: none;
    gap: 20px;
    height: 26px;
    margin: 0 0 0 20px;
    padding: 0;
    line-height: 26px;
    text-transform: uppercase;

    @media (max-width: 800px) {
      display: none;
    }

    & li,
    li:first-child,
    li:last-child,
    a,
    a:link {
      color: #000;
      font-size: 12px;
      font-weight: bold;
      font-family: acumin-pro;
      margin: 0;
      padding: 0;
      line-height: inherit;
    }
  }
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  margin: 0;
  padding: 0;

  button {
    max-height: 26px;
    max-width: 104px;
    cursor: pointer;
    margin: 0;
    padding: 4px 8px 3px 8px;
    border: none;
    border-radius: 10px 10px 10px 10px;
    background-color: inherit;
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    text-transform: uppercase;
    transition: opacity ease-in-out 0.3s;

    &.gold {
      background-color: #ffd204;
      border: 1px solid #ffd204;

      &:hover {
        color: #fff;
        background-color: #951c00;
        border: 1px solid #951c00;
      }
    }

    &:hover {
      color: #951c00;
    }
  }

  @media screen and (max-width: 480px) {
    gap: 2px;
  }
}

.userimg {
  cursor: pointer;
  border-radius: 100%;
  overflow: hidden;
  min-width: 30px;
  max-width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;

  & svg * {
    fill: #d2a940;
  }
}
