.modal_overlay {
  z-index: 12001;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0px 0px 0px 0px;
  border-radius: 0px;
  background-color: #fff;
  will-change: transform;
}

.modal_close {
  cursor: pointer;
  z-index: 12002;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 32px;
  width: 32px;
  margin: 0;
  padding: 1px 6px 1px 6px;
  border: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 60%;
  background: #fff;

  &:hover {
    color: #000;
    background: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 6px 12px rgba(0, 0, 0, 0.12), 0px 1px 16px rgba(0, 0, 0, 0.12);
  }
}

.modal_inner {
  min-width: 100%;
  height: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

.iframe {
  border: none;
}
