.modal_overlay {
  z-index: 12001;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  top: 53px;
  right: 20px;
  width: 375px;
  height: 245px;
  padding: 44px 12px 12px 88px;
  border-radius: 0;
  border: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 6px 12px rgba(0, 0, 0, 0.12), 0px 1px 16px rgba(0, 0, 0, 0.12);
  background-color: #ffd204;

  font-family: acumin-pro;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 19px;

  & div {
    text-align: center;
    margin-bottom: 4px;
  }

  &:after {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 10px solid #ffd204;
    border-left: 15px solid transparent;
    top: -20px;
    right: 10px;
  }
}

.name {
  font-family: acumin-pro;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
}

.avatar {
  position: absolute;
  top: 36px;
  left: 18px;
  width: 50px;
  height: 50px;
}

.links {
  display: flex;
  justify-content: start;
  align-items: stretch;
  gap: 40px;
  margin-top: 20px;

  span {
    cursor: pointer;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #000000;
  }
}
