@import "/styles/_base";
@import "/styles/_colors";

.modal_overlay {
  z-index: 12001;
  position: absolute;
  height: 200vh;
  top: 56px;
  left: 0;
  right: 0;
  margin: 0px 0px 0px 0px;
  border-radius: 0px;
  border-top: 1px solid #ccc;
  background-color: #fff;
  will-change: transform;
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: calc(100vh - 56px);
  font-family: acumin-pro;
}

.content {
  width: 100%;
  max-width: 435px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 64px;
  padding-left: 20px;
  padding-right: 20px;
  background: transparent;
  color: #000;

  @media screen and (max-width: 480px) {
    margin-top: 24px;
  }

  & h2.title {
    height: 40px;
    text-align: center;
    font-family: acumin-pro;
    font-style: normal;
    font-size: 24px;
    color: #000;
    line-height: 30px;
    text-transform: none;
  }

  form {
    margin-bottom: 20px;
    > * + * {
      margin-top: 10px;
    }
  }

  button[type="submit"] {
    height: 50px;
    width: 100%;
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 1px;
    padding: 20px 40px;
    transition: all 0.23s cubic-bezier(0.86, 0, 0.07, 1);
    text-decoration: none;
    font-size: var(--body-font-size, 16px);
    font-family: "ropa-sans-pro", sans-serif;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    appearance: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    background-color: $color-primary;
    color: $color-on-surface;
    letter-spacing: 0.25em;
    border-radius: 4px;

    &:hover {
      filter: brightness(110%);
    }

    &:disabled {
      background-color: #ccc;
      color: #666;
      cursor: not-allowed;
    }

    & svg {
      position: absolute;
      left: 10px;
    }
  }
}

.return {
  cursor: pointer;
  position: absolute;
  top: 80px;
  left: 90px;

  @media screen and (max-width: 800px) {
    left: 20px;
  }
  @media screen and (max-width: 480px) {
    top: 40px;
    left: 1px;
  }
}

.field_group {
  display: flex;
  flex-flow: column-reverse;
  position: relative;

  & > input,
  input:hover,
  input:focus,
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    height: 56px;
    border: 1px solid rgba(51, 51, 51, 0.4);
    border-radius: 4px;
    padding: 17px;
    margin-top: 8px;
    font-size: 12px;
    line-height: 18px;
    color: #000;
    box-shadow: none;

    &:focus {
      border: 1px solid #000;
    }
  }

  & > label {
    padding: 0px 3px 0px 3px;
    font-size: 11px;
    background-color: #fff;
    position: absolute;
    left: 17px;
    top: 1px;
    color: #000;
  }

  & textarea {
    color: #000;
  }
}

.label_error {
  width: 100%;
  order: -2;
  text-align: left;
  padding-left: 5px;
  font-size: var(--font-size-xs, 15px);
  color: #f00;
}

.clicker {
  cursor: pointer;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  font-size: var(--font-size-xs, 15px);
  line-height: 22px;
  color: #d2a940;
  background: transparent;

  &:hover {
    text-decoration: underline;
    filter: brightness(120%);

    picture {
      &::before {
        opacity: 0.25;
      }
    }
  }

  &--neutral {
    text-decoration: underline;
  }

  picture {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.08;
    }
  }
}
