.main {
  width: 100%;
  min-height: 100vh;
  margin-top: 0px;
  padding: 20px;
  text-align: center;
  font-size: 2rem;
  background-color: rgb(129, 183, 228);
}

.output {
  font-size: small;
  text-align: left;
}
